/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, .form {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 40px;
}

.btn-tous, .btn-appartements, .btn-hotelsRestaurants, .btn-objets {
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
}

.btn-tous {
	padding: 8px 25px;
}

.btn-objets {
	padding: 8px 20px;
}

.btn-appartements {
	padding: 8px 15px;
}

.btn-hotelsRestaurants {
	padding: 8px 10px;
}

.btn-tous:hover, .btn-appartements:hover, .btn-hotelsRestaurants:hover, .btn-objets:hover {
	background-color: #1D6154;
	color: white;
}

.btn-tous.active, .btn-appartements.active, .btn-hotelsRestaurants.active, .btn-objets.active {
	background-color: #1D6154;
	color: white;
}

form label {
	margin: 2em 0 1em 0;
	color: #3d3d3d;
}

form a {
	color: #1D6154;
}

#logIn, #pwdForgot {
	text-align: center;
}

.login {
	text-decoration: none;
	color: #000000;
}

.projets {
	display: flex;
	justify-content: center;
	margin: 40px 0;
	position: relative;
}

.btn-modifier {
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: 14px;
	font-family: 'Work Sans';
	position: absolute;
	top: 10%;
	left: 60%;
	display: flex;
}

.btn-modifier:hover {
	font-weight: 700;
}

.modal-container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.modal-container.show {
  display: flex;
}

.modal {
	position: relative;
	animation: animatetop 0.4s;
	margin: auto;
	background-color: #fff;
	padding: 1.5em;
	outline: 0;
	width: 600px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal h2 {
	text-align: center;
  	font-size: 26px;
  	font-weight: 400;
  	margin-bottom: 25px;
	font-family: 'Work Sans';
	color: #000000;
	padding-top: 25px;
}

.close-btn {
	position: absolute;
  	top: 5px;
  	right: 20px;
  	background: none;
  	border: none;
  	font-size: 22px;
  	cursor: pointer;
  	color: #333;
}

.add-photo-btn {
	display: block;
  	margin: 0 auto;
  	background-color: #1D6154;
  	color: white;
  	border: none;
  	border-radius: 60px;
  	padding: 10px 25px;
  	font-size: 14px;
  	font-family: 'Syne';
	width: 237px;
}

.gallery-modal img {
	width: 100%;
	height: 102px;
}

.gallery-modal {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 10px 98px;
}

.delete-btn {
  	position: absolute;
  	top: 5px;
  	right: 5px;
  	background: rgba(0, 0, 0, 0.6);
  	border: none;
  	color: white;
  	border-radius: 4px;
  	padding: 5px;
  	font-size: 14px;
}

.barre {
	border: 1px solid #B3B3B3;
	margin: 50px;
}